*{
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  
}

.con {
  text-align: center;
  width: 500px;
  height: 250px;
  margin: 0 auto;
  margin-top: 280px;
  border: 2px solid #ccc;
  padding: 30px;
  background: #90A4AE;
  
}
#show:checked ~ .con{
  display: block;
}
.con .close-btn{
   position: absolute;
   width:470px;
   top:290px;
  font-size: 18px;
  cursor: pointer;
}
input[type="submit"]{
  display: block;
  width: 95%;
  padding: 10px;
  margin: 30px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #2e7d32;
  color: #fff;
}
 input[type="text"]{
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
}